<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Artificial Intelligence enabled Image generation from text 🐻</div>
    <p>
      Generate images from Object pathway GAN Model
    </p>
      <div class='analyze'>
        <button id='analyze-button' onclick='analyze()'>Analyze</button>
      </div>
      <div id='image-path'>
        <!--img id='image-path' alt="Generated Image" style="width:256px"--!>
      </div>
      <div>
        <img id='image-path-new' alt="Generated Image" style="width:256px">
      </div>
  </div>
</div>
</body>
</html>
